// 代码字体
#app
  .line-number, code, kbd
    font-family "Fira Code Retina", "JetBrains Mono", "Source Code Variable medium", "Source Code Variable", "source code pro", "Menlo", "Monaco", "Consolas", "Courier New", "monospace"
    font-size 14px

// 内容宽度
.theme-default-content:not(.custom)
  max-width 1200px
