// 代码字体
.line-number, code, kbd
  font-family "Source Code Variable medium", "Source Code Variable", "source code pro", "Fira Code Retina", "Menlo", "Monaco", "Consolas", "Courier New", "monospace"

// 内容宽度
.theme-default-content:not(.custom)
  max-width 1200px
