// 代码字体
.line-number, code, kbd
  font-family "Fira Code Retina", "source-code-pro", "Menlo", "Monaco", "Consolas", "Courier New", "monospace"

// 内容宽度
.theme-default-content:not(.custom)
  max-width 1200px
